.blue-avatar {
    background-color: #2384F5;
}

.avatar__blue-teeth {
    left: 121px;
    bottom: 25px;
}

.avatar__blue-eyes {
    left: 115px;
    bottom: 65px;
}

.avatar__blue-nose {
    left: 131px;
    bottom: 52px;
}

.avatar__moustache {
    left: 125px;
    bottom: 30px;
}

.avatar__blue-hair {
    left: 127px;
    bottom: 100px;
}